// Google Font Import
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s ease;
    font-family: 'Josefin Sans', sans-serif;

    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
    }
}